<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
<p id="game_id" th:text="'Game ID: ' + ${gameId}"></p>
<p id="player1" th:text="'Player 1: ' + ${player1}"></p>
<p id="player2" th:text="'Player 2: ' + ${player2}"></p>

<p id="info"></p>

<table id="gameBoard">

</table>

<section>
    <h2>Game</h2>
    <button id="ready_button" onclick="onReady()">Ready</button>
    <button id="start_button" onclick="onStart()">Start</button>

</section>

</body>
<script src="/javascript/svGame.js">
</script>
</html>